@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');
@tailwind base;

@layer base {
  html {
    @apply text-surface;
    @apply bg-white;
  }
  html.dark {
    @apply text-neutral-50;
    @apply bg-body-dark;
}
}
body{
    font-family: "Jersey 15", sans-serif;
}

@tailwind components;
@tailwind utilities;


@layer utilities {
  .profileUserName {
    font-family: "Jersey 15", sans-serif;
    font-weight: normal;
    display: flex;
    font-size: 5rem;
    background: linear-gradient(to right, #1900ff, #ff0000);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #000000;
  }
  .text-nav-Service{
    font-family: 'jersey 15', sans-serif;
  }
  .appointment{
    font-family:Arial, Helvetica, sans-serif
  }

  .text-tittle-service{
    font-family: 'jersey 15', sans-serif;
    font-weight: normal;
    font-size: 5rem;
    background: linear-gradient(to right, 
    #9292a0,
    #c3c4ff,
    #fa6400,
    #ffa600);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #ff8800d7;
  }

  .Profile {
    background-image: linear-gradient(
        to bottom right,
        #000000 0%,
        #373750ea 20%,
        #39394b 40%,
        #06075cd0 60%,
        #000074 80%,
        #001aadc0 100%
      );
    
      background-size: 300% 300%;
    
    animation: movimiento 25s linear infinite alternate-reverse;
    font-family:Verdana, Geneva, Tahoma, sans-serif
  }
  @keyframes movimiento {
    from{
      background-position: 0% 0%;
    }
  
    to{
      background-position: 80% 80%;
    }
    
}
  .border-gradient {
    border-left: 8px solid transparent;
    border-image: linear-gradient(to right, #04238a, #0542c5c2) 1;
    box-shadow: #aa3000 0px 1px 18px 9px;
    }
  .border-gradient-profile {
      border-left: 1px solid transparent;
      border-image: linear-gradient(to right, #04238a, #0542c5c2);
      box-shadow: #aa3000 0px 2px 18px 0px;
      }
   .gradient-text {
        background:linear-gradient(
          to right,
          #fc2600,
          #0400f8,
          );
          background-clip: text;
    }
    #LinkNAV .imageinfo {
      overflow: hidden;
    }
    #LinkNAV .imagen {
      transition: transform 0.3s ease;
    }
    #LinkNAV .imageinfo:hover .imagen {
      filter: blur(5px);
      -webkit-transform: scale(1.3) skewX(-6deg);
      transform: scale(1.2) skewX(-6deg);
    }
}

p {
  @apply leading-[1.6];
}